## Folders
## For all pycache
**/__pycache__/

# Testing, logs etc
**/output/*
**/log_*.txt
**/mods/*

## Debug mods
Weekend1/
vs-skippa-psychengine/

## Files
**/test-noteconv.py
CodeTest.py
fnf-porter.code-workspace
Thumbs.db
fnf-porter.bat
pppppppp.txt
fnf-porter.log

## PyInstaller
build/
dist/
*.spec

## FNF Porter files
**/logs/*
.defaults