## Folders
## For all pycache
**/__pycache__/
**/output/*
**/logs/*
**/mods/*

## Debug mods
Weekend1/
vs-skippa-psychengine/

**/log_*.txt

## Files
CodeTest.py
fnf-porter.code-workspace
Thumbs.db
fnf-porter.bat
