name: FNF Porter Build

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        include:
          - os: windows-latest
            icon: icon.ico
            command: pyinstaller build.spec
          - os: macos-latest
            icon: icon.icns
            command: pyinstaller --onefile fnfporter/main.py --icon=icon.icns --noconsole -n "FNF Porter"
          - os: ubuntu-latest
            icon: ""
            command: pyinstaller --onefile fnfporter/main.py --noconsole -n "FNF Porter"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller numpy pydub luaparser pyqt6 pillow
    - name: Build with PyInstaller
      run: |
        ${{matrix.command}}
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: FNF_Porter_Build_${{ matrix.os }}_Actions_${{ github.run_number }}
        path: dist/*
